@import url("../styles/vars.css");
.title-bitacora{
    text-align: center;
    font-weight: normal;
}

.content-informe{
    background-color: transparent;
    padding: 1%;
}

ul{
    padding: 0;
    margin-top: 3%;
    list-style: none;
}

li{
    margin: 20px 0 20px 0;
}

.informe{
    box-shadow: 0px 10px 13px -7px #687980, 0px 0px 3px 3px rgba(0,0,0,0.26);
    background: linear-gradient(90deg, rgba(243,189,161,1) 0%, rgba(254,254,204,1) 99%);
    margin: 15px auto 15px auto;
    width: 50%;
    padding: 3%;
}

.photo-informe{
    border-radius: 100%;
    width: 45px;
    height: 45px;
}

.header-informe{
    display: flex;
    justify-content:space-between;
}



.photo-name-bitacora{
    display: flex;
}
.photo-name-bitacora h2{
    margin: auto;
    margin-left: 10px;
    font-weight: normal;
}
.text-informe{
    margin-top: 3%;
    text-align: justify;
}

.email-bitacora{
    font-style: italic;
}

form{
    width: 65%;
    margin: auto;
}

.submit-form{
    background : linear-gradient(90deg, #02475e, #fefecc);
    font-weight : bold !important;
    width : 75%;
    display : block !important;
    margin : 15px auto !important;
    border-radius: 0 !important;
}

@media (max-width:650px){

    form{
        width: 100%;
    }
    .submit-form{
        width: 85%;
    }
    .header-informe{
        display: block;
    }

    .informe{
        padding: 5%;
        width: 90%;
    }
}